*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}




.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 122rem;
    margin: auto;
    padding: 10px 80px;
}




.bgcolor{
    background-color: #9a9a9a2b;
    height: auto;
    
}

.about{
    max-width: 122rem;
    padding: 100px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:200px;
    margin: auto;
    
}


.about img{
    height: auto;
    width: 100%;
    border-radius: 50%;
    padding: 10px;
}

.nav-bar ul {
    display: flex;
    gap:40px;
    list-style: none;
}

.nav-bar ul li a{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.header img{
    /* padding: 0 15px; */
    width: 500px;
    height: auto;
    /* margin-bottom: 0; */
}

.name{
    color: wheat;
    font-size: 36px;
}

.about-me{
    color: aliceblue;
}

.about-me h2{
    padding-top: 140px;
    font-size: 60px;
    line-height: 80px;
    color: #25AEB5;

}
.about-me h3{
    /* padding-left: 130px; */
    font-size: 80px;
    line-height: 100px;
    color: #25AEB5;

}

.skills-section{
    background-color:     #fff3e0;
    /* width: 100%;
    height: 100vh; */
}


.content{
    max-width:122rem;
    margin: auto
}

.skills-section img{
    width: 100%;
    height: 100vh;
}

.skills{
    background-image: linear-gradient(to top right,#3d86fa,#4484fb,#679eff,#b3d2ff,#ebf3fe);
    height:auto;
}


.skills-div{
    max-width: 122rem;
    margin: auto;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    /* padding-bottom: 100px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:200px;
    height: auto;
    justify-items: center;
    align-items: center;
}

.skills-div img{
    width: 100%;
    height: auto;
}

.button-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:20px;
}


.button-div button{
    border-radius: 10px;
    font-size: 20px;
    padding: 30px;
}

.button-div button:hover{
    /* padding: 20px; */
    cursor: pointer;
    background-color: #1f1293;
    color: aliceblue;
}

.skills,.portfolio-section h2{
    margin: auto;
    text-align: center;
    padding: 20px 20px;
    font-size: 48px;
    font-weight: 700;
}

.portfolio-section{
    height: auto;
    background-color: aliceblue;
}

.portfolio-section .button-div button:hover{
    /* padding: 20px; */
    cursor: pointer;
    background-color: #40df43;
    color: aliceblue;
}
.portfolio-div{
    max-width: 1220px;
}

.portfolio-section img{
    width: 100%;
    height: auto;
    padding-bottom: 200px;
}

.connect{
    margin: auto;
    max-width: 500px;
}

.connect img{
    height: 100px;
    width: 150px;
    padding: 10px;
}