@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* common properties start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 142rem;
  padding: 4rem 2.4rem 1rem  2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  gap: 6.4rem;
}

/** header section */

.section-navbar {
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position:sticky;
    top:0
}

.header-div {
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navbar ul {
  display: flex;
  gap: 3.2rem;
  padding-right: 2rem;
}

.navbar ul li a {
  list-style: none;
  color: white;
}

.name-plate {
  color: #f5b456;
  font-size: 3rem;
  padding-left: 2rem;
}

/* *hero section  */

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
}

main {
  background-color: #1a1a1a;

  & .container {
    padding:4.5rem;
  }
}

main .grid-two--cols{
  gap:5rem;
}

.hero-section .hero-image img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.hero-heading {
  font-weight: 900;
  font-size: 6.4rem;
  font-family: "Jost";
  line-height: 1.5;
  color: #003b99;
  padding-bottom: 1rem;
}

.hero-subheading {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  color: #f5b456;
  font-weight: 700;
  padding-bottom: 2rem;
}

.hero-para {
  color: white;
  font-size: 2rem;
  margin: 2rem 0 4.2rem 0;
}

/** education section */

.education-section {
  background-color: #fff3e0;
}

.education-div img {
  padding-top: 5rem;
  width: 60%;
  display: block;
  margin: 0 auto;
  /* height: 100vh; */
  
}

/* ?skill section  */

.skill-section {
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );

  & img {
    width: 75%;
    height: auto;
  }

  .grid-two--cols{
    gap:3rem;
  }
}

.skill-heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.skill-button,
.portfolio-button {
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
}

.skill-button:hover {
  /* padding: 20px; */
  cursor: pointer;
  background-color: #1f1293;
  color: aliceblue;
}

/** portfolio section */




.portfolio-section {
  background-color: #f0f8ff;

  & img {
    width: 65%;
    height: auto;
    padding-right: 0;
    margin-bottom: 8rem;
    /* padding-bottom: 300px; */
    /* padding-top: -200px; */
  }

  & .grid-two--cols{
    gap:6rem;
  }
}


.portfolio-image{
  display: flex;
  justify-content: center;
  align-items: start;
}

.portfolio-section .grid-three--cols{
  grid-template-rows: repeat(3,1fr);
}

.portfolio-button {
  height: 120px;
  width: 150px;
}

.portfolio-button:hover {
  cursor: pointer;
  background-color: #40df43;
}

/** footer section */

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer h1{
  padding-top: 1rem;
  color: white;
  font-size: 7rem;
}

.footer-div {
    display: flex;
    justify-content: center;
  gap: 29px;
}

.footer-div img {
  height: 12.4rem;
  width: auto;
}

.twitter {
  background-color: white;
  border-radius: 50%;
  width: 75%;
  display: block;
  height: 7%;
  border:0.2rem solid white;

  
}

.linkedin {
  border-radius: 50%;
  border: 0.2rem solid white;
  background-color: black;
  height: 30%;
  width: 60%;
  padding: 0.4rem;
  display: block;
}


.handshake {
  width:24rem;
}


.footer-contact{
  color: white;
  font-size: 2rem;
  border:2px solid white;
  height: 10rem;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  margin-top: 6rem;
}

.footer-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media (width <= 1024px) {
  html {
    font-size: 56.25%;
  }

  main {
     & .container {
      padding: 5rem 4rem;
     }
  }

   .grid-two--cols {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;

    & img {
      width:50%;
      height: auto;
    } 
  }

  .header-div {
    display: flex;
    flex-direction: column;
    gap:3rem
  }

  /* .grid-three--cols{
    grid-template-columns: repeat(2,1fr);
  } */

  .education-div img {
   
    width: 90%;
  
   
    
  }

}

@media (width <= 900px) {

  html {
    font-size: 46.25%;
  }

  footer img{
    width: 10%;
    
  }

  .footer-main h3 {
    font-size: 1.5rem;
  }

  .footer-section h1 {
      font-size: 5rem;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
  }
  
  .grid-three--cols {
    grid-template-columns: repeat(2,1fr);
  }
}